{% extends "bass.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
         <div class="col-md-6">
            <p>You are on: {{ c }}</p>
            <a class="btn btn-primary" href="/jobs/addEntry" role="button">Add Entry</a>
       </div>
           
        <div class="col-md-6 text-left">
           <p>Number of entrys: {{ n }} <br />Number of Interviews: {{ i }}<br>Number of Offers: {{ o }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
           <p>Filepath: {{ admin }} </p>
      </div>
          
   </div>
</div>






{% endblock %}


