<!DOCTYPE html>
<html lang="en"> 
<head>
  <title>Intern</title>
</head>

{% extends "bass.html" %}
{% block content %}


<div class="container">

        <h3>{{ entry[1] }}</h3>
        <h6>{{ entry[3] }}</h6>




        <div id="textbox">
            <p class="alignleft">Status: {{ entry[4] }}</p>

            <form action='/update/1/{{ entry[0] }}' method="post">
                <button type="submit" class="alignright btn btn-entry btn-info">Interview</button>
            </form>
            
            <form action='/update/2/{{ entry[0] }}' method="post">
                <button type="submit" class="alignright btn btn-entry btn-warning">Rejected</button>
            </form>

        </div>




</div>




{% endblock %}

