<!DOCTYPE html>
<html lang="en"> 
<head>
  <title>Entry</title>
</head>

{% extends "bass.html" %}
{% block content %}

<script type="text/javascript" nonce="c3lzdGVtc2dvZA">

document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('editModalSubmit').addEventListener('click', function editModalSubmit() { 
        var statusText = document.getElementById('status').value
        var statusNum = document.getElementById('status_num').value
        var notes = document.getElementById('notes').value

        $.post("/intern/updateEntry",{
            entry: "{{ entry[0] }}",
            statusText: statusText,
            statusNum: statusNum,
            notes: notes

        },function(result){
            window.location.reload(true); 
        });



    });
});

document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('editModal').addEventListener('click', function editModal() { 
        document.getElementById('status').value = document.getElementById('editStatusText').innerHTML
        document.getElementById('{{ entry[5] }}').selected = true;
        $('#modal').modal('show');
    });
});
</script>

<div class="container">
    <button type="button" class="alignright btn btn-outline-dark" id='editModal'>Edit</button>

    <h3>{{ entry[1] }}</h3>
    {% if file != -1 %}
        <h6><a href="/file/{{ entry[2] }}" target="_blank">{{ entry[3] }}</a></h6>
    {% else %}
        <h6>{{ entry[3] }}</h6>
    {% endif %}


    
          
    <div class="row">
        <div class="col-sm-6">
            <p class="alignleft">Status: <span id="editStatusText">{{ entry[4] }}</span></p>
        </div>

        <div class="col-sm-6">
            {% if entry[5] == 0%}
                <span class="badge badge-secondary alignright">Applied</span>
            {% elif entry[5] == 1 %}
                <span class="badge badge-primary alignright">Interview</span>
            {% elif entry[5] == 2 %}
                <span class="badge badge-danger alignright">Rejected</span>
            {% elif entry[5] == 3 %}
                <span class="badge badge-success alignright">Offer</span>      
            {% endif %}
        </div>
    </div>
 


    {% if notes is not none %}
        <div class="row col-sm-12">
            <h4>Notes</h4>
        </div>

        <div class="row col-sm-12">
            <p>{{ notes|join('<br>'|safe) }}</p>
        </div>
    {% endif %}
</div>



<div class="modal fade" id="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit</h4>
                <a class="close" data-dismiss="modal">&times;</a>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="status">Status</label>
                    <input type="text" class="form-control" id="status">
                </div>

                <div class="form-group">
                    <label for="status_num">Progress</label>
                    <select class="form-control" id="status_num">
                        <option id="0" value="0">Applied</option>
                        <option id="1" value="1">Interview</option>
                        <option id="2" value="2">Rejected</option>
                        <option id="3" value="3">Offer</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="notes">Notes</label>
                        <textarea class="form-control" id="notes" rows="5">{{ entry[7] }}</textarea>
                </div>

            </div>
      
            <div class="modal-footer">
              <button type="button" class="btn btn-success" id="editModalSubmit" data-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}





