<!DOCTYPE html>
<html lang="en"> 
<head>
  <title>Intern</title>
</head>

{% extends "bass.html" %}
{% block content %}

<div class="container">

        <h3>{{ entry[1] }}</h3>
        <h6>{{ entry[3] }}</h6>

        <div>
            <p class="alignleft">Status: {{ entry[4] }}</p>

            <form action='/updateStatus/1/{{ entry[0] }}' method="post">
                <button type="submit" class="alignright btn btn-entry btn-info">Interview</button>
            </form>
            
            <form action='/updateStatus/2/{{ entry[0] }}' method="post">
                <button type="submit" class="alignright btn btn-entry btn-warning">Rejected</button>
            </form>
        </div>
        <br>
        <br>
</div>


{% if file != -1 %}
<div class="container">
    <br>
    <br>
    <br>

        <div class="media mobile" style="overflow: auto; -webkit-overflow-scrolling: touch;">
                <object data="/file/{{ entry[2] }}" type="application/pdf" width="100%" height=900>
                    <p>It appears you don't have a PDF plugin for this browser.
                            No biggie... you can <a target="__blank" href="/file/{{ entry[2] }}">click here to
                           download the PDF file.</a></p>  
                </object>
        </div>



</div>
{% endif %}

<div class="mobileShow">
    <p class="text-center">Download the job posting <a href="/file/{{ entry[2] }}" target="_blank">here</a>.</p>  
</div>


{% endblock %}

