{% extends "bass.html" %}
{% block content %}


<div class="container text-center jumbo-pad">
  <h1>Will Borland</h1>
</div>

<div class="container-fluid text-center underline">
  <div class="row">
    <div class="col-md-12">
      <h3 style="font-weight: 500">About Me</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4 style="font-weight: 400">Computer Science</h4>
      <p style="font-weight: 200">I am a Computer Science student at Purdue University.</p>
    </div>

    <div class="col-md-6">
      <h4 style="font-weight: 400">Music</h4>
      <p style="font-weight: 200">Trumpet player and Drum Corps fan.</p>
    </div>
  </div>
</div>



  

{% endblock %}

