<!DOCTYPE html>
<html lang="en"> 
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
<head>

  <title>Intern</title>
</head>

{% extends "bass.html" %}
{% block content %}

{% if error != None %}
  <p>{{ error }}</p>
{% endif %}

<script type="text/javascript">
  $(document).ready(function() {
    $('#intern').DataTable({
      "lengthMenu": [[-1, 25, 50, 100], ["All", 25, 50, 100]]
    });

} );
</script>

  <div class="table-responsive container-fluid">
      <table id="intern" class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Place</th>
              <th scope="col">Position</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
      
            {% for file in files %}
              
                {% if file[5] == 2 %}
                  <tr class="table-danger">
                {% elif file[5] == 1 %}
                  <tr class="table-primary">
                {% else %}
                  <tr class="intern">
                {% endif %}
      
                  <th scope="row">{{ loop.index }}</th>
                  <td><a href="/entry/{{ file[0] }}">{{ file[1] }}</a></td>
                  <td >{{ file[3] }}</td>
                  <td>{{ file[4] }}</td>
      
              </tr>
            {% endfor %}
          </tbody>
        </table>
    
  </div>
  




{% endblock %}



